<div id="<%= dom_id item %>">
  <h3>
    <strong>Name:</strong>
    <%= item.name %>
  </h3>

  <p>
    <strong>Active:</strong>
    <%= item.active ? "✅" : "❌" %>
  </p>

  <p>
    <strong>Borrowed:</strong>
    <%= item.borrowed ? "✅" : "❌" %>
  </p>
</div>
